@import "tailwindcss";
@import "simplebar-react/dist/simplebar.min.css";

:root {
  --background: #000000;
  --foreground: #ffffff;
  --theme-color: #c3a13f;
  --theme-color2: #191919;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
@layer components {
  .loading-mask {
    mask-size: 900px;
  }
  .section-wrapper {
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
  }
  .btn-header {
    font-size: 28px;
    line-height: 1em;
    padding: 14px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  .black-white {
    filter: brightness(0.5) saturate(0%);
    -webkit-filter: brightness(0.5) saturate(0%);
  }
  .white-image {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
  }
  .origin-topright {
    transform-origin: top right;
  }
  nav.nav-menu {
    > a {
      font-size: 18px;
      line-height: 1em;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      flex-grow: 1;

      &&:not(:last-child) {
        border-right: 1px solid #dbbd5c80;
      }
    }
  }
  .theme-button {
    .group {
      .btn-bg {
        inset: 0%;
        transform: translateY(100%);
        transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -webkit-transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -moz-transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -ms-transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -o-transition: transform 0.5s cubic-bezier(0.625, 0.05, 0, 1);
      }
      .text {
        transition: color 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -webkit-transition: color 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -moz-transition: color 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -ms-transition: color 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        -o-transition: color 0.5s cubic-bezier(0.625, 0.05, 0, 1);
      }
      &&:hover .btn-bg {
        transform: translateY(0em) rotate(0.001deg);
      }
    }
  }
  .circle-button {
    .group {
      .button-content {
        svg.star-icon {
          transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
          -webkit-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
          -moz-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
          -ms-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
          -o-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
        }
      }
      .button-border {
        animation: spin-border 20s linear infinite;
        -webkit-animation: spin-border 20s linear infinite;
      }
      .button-text {
        animation: spin-text 20s linear infinite;
        -webkit-animation: spin-text 20s linear infinite;
      }
      .button-layer {
        opacity: 0;
      }
      &&:hover .button-border {
        scale: 1.2;
        opacity: 0;
      }
      &&:hover .button-text {
        opacity: 0;
      }
      &&:hover .button-layer {
        scale: 0.6;
        opacity: 1;
      }
      &&:hover .button-content {
        svg.star-icon {
          rotate: 90deg;
          path {
            stroke: #ffffff;
          }
        }
      }
      &&:hover .button-bg {
        transform: translateY(0em) rotate(0.001deg);
      }
    }
  }

  @keyframes spin-text {
    to {
      transform: rotate(1turn);
      -webkit-transform: rotate(1turn);
      -moz-transform: rotate(1turn);
      -ms-transform: rotate(1turn);
      -o-transform: rotate(1turn);
    }
  }
  @keyframes spin-border {
    to {
      transform: rotate(-1turn);
      -webkit-transform: rotate(-1turn);
      -moz-transform: rotate(-1turn);
      -ms-transform: rotate(-1turn);
      -o-transform: rotate(-1turn);
    }
  }
  .grid-items {
    .simplebar-scrollable-y {
      .simplebar-track.simplebar-vertical {
        width: 10px !important;
        z-index: 10;
        &&:after {
          content: "";
          display: block;
          width: 0;
          height: 100%;
          position: absolute;
          left: 50%;
          top: 0;
          border: 1px dashed #c3a13f;
          margin-left: -1px;
        }
        .simplebar-scrollbar {
          cursor: pointer;
          z-index: 20;

          &&:before {
            background-color: #c3a13f !important;
            opacity: 1 !important;
          }
        }
      }
    }
  }
  .arrow-slider .swiper .swiper-wrapper {
    cursor: none;
  }
  @keyframes linearMove {
    0% {
      transform: translateX(100%);
      -webkit-transform: translateX(100%);
      -moz-transform: translateX(100%);
      -ms-transform: translateX(100%);
      -o-transform: translateX(100%);
    }

    to {
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);
    }
  }
  .scroll-button {
    .line {
      .line-move {
        animation: linearMove 2s cubic-bezier(0.65, 0, 0.35, 1) infinite;
      }
    }
  }
  #card-slider .card-slide.active {
    background-color: #ffffff !important;
  }
  #page {
    .period-slider {
      .swiper-navigation {
        .custom-pagination {
          .swiper-pagination-bullet {
            width: 8px !important;
            height: 8px !important;
            background-color: transparent !important;
            margin: 0 !important;
            opacity: 1 !important;
            display: flex !important;
            align-items: center;
            justify-content: center;
            transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
            -webkit-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
            -moz-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
            -ms-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
            -o-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
            position: relative !important;

            &&.swiper-pagination-bullet-active {
              width: 26px !important;
              height: 26px !important;
            }
            &&.swiper-pagination-bullet-active::after {
              transform: scale(1);
              -webkit-transform: scale(1);
              -moz-transform: scale(1);
              -ms-transform: scale(1);
              -o-transform: scale(1);
            }

            &&:after {
              content: "";
              display: block;
              position: absolute;
              width: 26px;
              height: 26px;
              top: 50%;
              left: 50%;
              background-color: #d9d9d999;
              border: 1px solid #c3a13f;
              border-radius: 50px;
              z-index: 10;
              transform: scale(0.2);
              transform-origin: center;
              margin-top: -13px;
              margin-left: -13px;
              -webkit-transform: scale(0.2);
              -moz-transform: scale(0.2);
              -ms-transform: scale(0.2);
              -o-transform: scale(0.2);
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              -ms-border-radius: 50px;
              -o-border-radius: 50px;
              transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
              -webkit-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
              -moz-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
              -ms-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
              -o-transition: all 0.5s cubic-bezier(0.625, 0.05, 0, 1);
            }

            .pointer {
              width: 8px;
              height: 8px;
              background: #c3a13f;
              display: block;
              border-radius: 50px;
              -webkit-border-radius: 50px;
              -moz-border-radius: 50px;
              -ms-border-radius: 50px;
              -o-border-radius: 50px;
              position: relative;
              z-index: 20;
            }
          }
        }
      }
    }

    .history-timeline {
      .timeline-wrapper {
        .timeline {
          .timeline-step {
            .indicator {
              &&:after {
                content: "";
                width: 32px;
                height: 32px;
                position: absolute;
                top: 50%;
                left: 50%;
                border: 2px solid var(--theme-color);
                border-radius: 50%;
                margin-left: -16px;
                margin-top: -16px;
                transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
                -webkit-transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
                -moz-transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
                -ms-transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
                -o-transition: all 0.3s cubic-bezier(0.625, 0.05, 0, 1);
                transform: scale(0);
                -webkit-transform: scale(0);
                -moz-transform: scale(0);
                -ms-transform: scale(0);
                -o-transform: scale(0);
              }
            }

            &&.complete {
              .indicator {
                background-color: var(--theme-color);
              }
            }
            &&.active {
              .indicator {
                &&:after {
                  transform: scale(1);
                  -webkit-transform: scale(1);
                  -moz-transform: scale(1);
                  -ms-transform: scale(1);
                  -o-transform: scale(1);
                }
              }
            }
          }
        }
      }
    }
    section {
      .direction-rtl {
        direction: rtl;
      }
    }
  }
}
body {
  background: var(--background);
  color: var(--foreground);
  font-family:
    Arial, Helvetica, sans-serif; /* For Internet Explorer and Edge */
  -ms-overflow-style: none;
  /* For Firefox */
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale;
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}
